.placeWrapper {
  display: flex;
  gap: var(--spacing-400);
  flex-direction: column;
}
@media screen and (min-width: 1440px) {
  .placeWrapper {
    flex-direction: row;
  }
}

.placeWrapper > * {
  flex-grow: 1;
}

.placeSearcher {
  margin-top: var(--spacing-600);
  margin-inline: auto;
}
@media screen and (min-width: 1440px) {
  .placeSearcher {
    margin-top: var(--spacing-800);
  }
}

.placeWrapper {
  margin-top: var(--spacing-400);
}
@media screen and (min-width: 1440px) {
  .placeWrapper {
    margin-top: var(--spacing-600);
  }
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.placeDetails {
  margin-top: var(--spacing-250);
}
@media screen and (min-width: 1440px) {
  .placeDetails {
    margin-top: var(--spacing-400);
  }
}

.dailyForecastSection {
  margin-top: var(--spacing-400);
}
@media screen and (min-width: 1440px) {
  .dailyForecastSection {
    margin-top: var(--spacing-600);
  }
}

.dailyForecast {
  margin-top: var(--spacing-250);
}