.placeSearcher {
  margin-top: var(--spacing-600);
  margin-inline: auto;
}
@media screen and (min-width: 1440px) {
  .placeSearcher {
    margin-top: var(--spacing-800);
  }
}

.placeCard {
  margin-top: var(--spacing-400);
}
@media screen and (min-width: 1440px) {
  .placeCard {
    margin-top: var(--spacing-600);
  }
}