@import url(preflight.css); /* normalization of styles */

@font-face {
  font-family: "dm-sans";
  src: url("../../assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "dm-sans";
  src: url("../../assets/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "bricolage-grotesque";
  src: url("../../assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}

:root {
  /* Colors */
  --neutral-900: #02012C;
  --neutral-800: #262540;
  --neutral-700: #302F4A;
  --neutral-600: #3C3B5E;
  --neutral-300: #ACACB7;
  --neutral-200: #D4D3D9;
  --neutral-0: white;
  --orange-500: #FF820A;
  --blue-500: #4658D9;
  --blue-700: #2B1B9C;

  /* Spacing */
  --spacing-025: 2px;
  --spacing-050: 4px;
  --spacing-075: 6px;
  --spacing-100: 8px;
  --spacing-125: 10px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-1000: 80px;
  --spacing-1200: 96px;
  --spacing-1400: 112px;
  --spacing-1600: 128px;
  --spacing-1800: 140px;

  /* Radius */
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-full: 999px;
}

/* Text presets */
.text-preset-1 {
  font-family: "dm-sans";
  font-weight: 600;
  font-style: italic;
  font-size: 6rem;
  letter-spacing: -2px;
}
.text-preset-2 {
  font-family: "bricolage-grotesque";
  font-weight: bold;
  font-size: 3.25rem;
  line-height: 1.2;
}
.text-preset-3 {
  font-family: "dm-sans";
  font-size: 2rem;
}
.text-preset-4 {
  font-family: "dm-sans";
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 1.2;
}
.text-preset-5 {
  font-family: "dm-sans";
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.2;
}
.text-preset-5-medium {
  font-family: "dm-sans";
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.2;
}
.text-preset-6 {
  font-family: "dm-sans";
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.2;
}
.text-preset-7 {
  font-family: "dm-sans";
  font-weight: 500;
  line-height: 1.2;
}
.text-preset-8 {
  font-family: "dm-sans";
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.2;
}


