.container {
  position: relative;
  max-width: 41rem;
}

.formWrapper {
  display: flex;
  gap: var(--spacing-150);
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .formWrapper {
    gap: var(--spacing-200);
    flex-direction: row;
  }
}
@media screen and (min-width: 1440px) {
  .formWrapper {
    margin-inline: auto;
    width: fit-content;
  }
}

.inputContainer {
  position: relative;
}
.inputContainer::before {
  content: url("../../assets/images/icon-search.svg");
  position: absolute;
  left: 24px;
  top: 18px;
}
@media screen and (max-width: 1439px) {
  .inputContainer {
    flex-grow: 1;
  }
}

.input {
  background-color: var(--neutral-800);
  padding: var(--spacing-200) var(--spacing-300) var(--spacing-200) var(--spacing-800);
  border-radius: var(--radius-12);
  width: 100%;
}
@media screen and (min-width: 1440px) {
  .input {
    min-width: 32.875rem;
  }
}

.button {
  background-color: var(--blue-500);
  padding: var(--spacing-200) var(--spacing-300);
  border-radius: var(--radius-12);
  cursor: pointer;
}

