@font-face {
  font-family: "dm-sans";
  src: url("../fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "dm-sans";
  src: url("../fonts/DM_Sans/DMSans-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "bricolage-grotesque";
  src: url("../fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  color: var(--neutral-0);
  background-color: var(--neutral-900);
  font-family: "dm-sans";
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.2;
  padding-bottom: var(--spacing-600);
}
@media screen and (min-width: 1440px) {
  body {
    padding-bottom: var(--spacing-1000);
  }
}

.inner-wrapper {
  max-width: 1216px;
  margin-inline: auto;
  padding-inline: var(--spacing-200);
}

@media screen and (min-width: 768px) {
  .inner-wrapper {
    padding-inline: var(--spacing-300);
  }
}