.wrapper {
  border-radius: var(--radius-12);
  border: 1px solid var(--neutral-700);
  background: var(--neutral-800);
  display: flex;
  width: 100%;
  padding: var(--spacing-100);
  flex-direction: column;
  gap: var(--spacing-050);
  position: absolute;
  margin-top: var(--spacing-125);
}

.item {
  padding: var(--spacing-125) var(--spacing-100);
}

.item:hover, .item:focus {
  background: var(--neutral-700);
  border-radius: var(--radius-8);
  border: 1px solid var(--neutral-600);
  cursor: pointer;
}